<section class="contacts" id="contacts">
  <div class="contacts__container">
    <div class="contacts__left">
      <h2 class="contacts__title title-h2">Начните путь<br> <span class="title-orange">к идеальной</span> улыбке</h2>
      <p class="contacts__text">Запишитесь на первичную консультацию и диагностику. Мы составим для вас персональный план лечения уже на первом визите</p>
      <button class="contacts__button orange-button">Записаться</button>
    </div>
    <div class="contacts__right">
      <div class="contacts__address">
        <h3 class="contacts__address-title">Адрес</h3>
        <div class="contacts__address-city">Тула</div>
        <div class="contacts__address-street">ул. Демонстрации, 141</div>
      </div>
      <div class="contacts__opening">
        <h3 class="contacts__opening-title">Часы работы</h3>
        <ul class="contacts__opening-date">
          <li class="contacts__opening-item">Пн-Пт <span class="contacts__opening-time">09:00-19:00</span></li>
          <li class="contacts__opening-item">Сб <span class="contacts__opening-time">09:00-15:00</span></li>
          <li class="contacts__opening-item">Вс <span class="contacts__opening-time">Выходной</span></li>
        </ul>
      </div>
      <div class="contacts__contacts">
        <h3 class="contacts__contacts-title">Контакты</h3>
        <a class="contacts__contacts-phone" href="tel:+7 (963) 225-54-45">+7 (963) 225-54-45</a>
        <div class="contacts__contacts-socials">
          <a href="#" class="contacts__contacts-link link">Telegram</a>
          <a href="#" class="contacts__contacts-link link">WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</section>