<section class="doctors" id="doctors">
  <div class="doctors__container">
    <div class="doctors__title-block">
      <span class="doctors__slogan">— Врачи с опытом от 10 лет</span>
      <h2 class="title-h2 doctors__title">Наши <span class="title-orange">Врачи</span></h2>
    </div>
    <div class="swiper doctors__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide doctors__slide">
          <img class="doctors__img" src="src/assets/images/doctors/doctor.png" alt="Врач 1">
          <div class="doctors__info">
            <h3 class="doctors__name">Абрамов Иван Викторович</h3>
            <p class="doctors__specialty">Специальность</p>
          </div>
        </div>
        <div class="swiper-slide doctors__slide">
          <img class="doctors__img" src="src/assets/images/doctors/doctor2.png" alt="Врач 1">
          <div class="doctors__info">
            <h3 class="doctors__name">ФИО</h3>
            <p class="doctors__specialty">Специальность</p>
          </div>
        </div>
        <div class="swiper-slide doctors__slide">
          <img class="doctors__img" src="src/assets/images/doctors/doctor2.png" alt="Врач 1">
          <div class="doctors__info">
            <h3 class="doctors__name">ФИО</h3>
            <p class="doctors__specialty">Специальность</p>
          </div>
        </div>
        <div class="swiper-slide doctors__slide">
          <img class="doctors__img" src="src/assets/images/doctors/doctor2.png" alt="Врач 1">
          <div class="doctors__info">
            <h3 class="doctors__name">ФИО</h3>
            <p class="doctors__specialty">Специальность</p>
          </div>
        </div>
        <div class="swiper-slide doctors__slide">
          <img class="doctors__img" src="src/assets/images/doctors/doctor2.png" alt="Врач 1">
          <div class="doctors__info">
            <h3 class="doctors__name">ФИО</h3>
            <p class="doctors__specialty">Специальность</p>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <div class="swiper-button-prev doctors__slider-button--prev"></div>
        <div class="swiper-button-next doctors__slider-button--next"></div>
      </div>
      <h2 class="title-h2 doctors__slider-title">У нас работают только<br> <span class="title-orange">Профессионалы<br> </span>своего дела</h2>
    </div>
  </div>
</section>