<div class="hero hero__container">
  <div class="hero__content">
    <div class="title__block">
      <h1 class="title hero__title">Авторская стоматология <span class="title-orange">Ивана Абрамова</span></h1>
      <div class="hero__subtitle-block">
        <p class="hero__subtitle">Экспертный уровень стоматологии. Сочетание проверенных методов и инноваций для здоровья вашей улыбки.</p>
        <a href="services.html" data-da=".hero__title,1280,last" class="link hero__link">Перейти к услугам</a>
      </div>
    </div>
    <div class="swiper hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="src/assets/images/hero-slide-1-desc.jpg">
            <img src="src/assets/images/hero-slide-1.jpg" alt="a cute kitten">
          </picture>
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="src/assets/images/hero-slide-1-desc.jpg">
            <img src="src/assets/images/hero-slide-1.jpg" alt="a cute kitten">
          </picture>
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="src/assets/images/hero-slide-1-desc.jpg">
            <img src="src/assets/images/hero-slide-1.jpg" alt="a cute kitten">
          </picture>
        </div>
      </div>
      <div class="hero__swiper-pagination">1</div>
    </div>
    <button class="hero__button orange-button" type="button">Записаться на прием</button>
    <a href="#about" class="hero__arrow"></a>
  </div>
</div>