<section class="profitable" id="profitable">
  <div class="profitable__container">
    <div class="profitable__title-blok">
      <h2 class="profitable__title title-h2">У нас <span class="title-orange">выгодно</span></h2>
      <div class="swiper-navigation">
        <div class="swiper-button-prev profitable__slider-button--prev"></div>
        <div class="swiper-button-next profitable__slider-button--next"></div>
      </div>
    </div>
    <div class="swiper profitable__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide profitable__slide">
          <img src="src/assets/images/profitable.png" alt="profitable" class="profitable__image">
          <div class="profitable__slide-block">
            <h3 class="profitable__slide-title">Дарим скидку 10%</h3>
            <span class="profitable__text">при первом посещении</span>
          </div>
        </div>
        <div class="swiper-slide profitable__slide">
          <img src="src/assets/images/profitable.png" alt="profitable" class="profitable__image">
          <div class="profitable__slide-block">
            <h3 class="profitable__slide-title">Дарим скидку 10%</h3>
            <span class="profitable__text">при первом посещении</span>
          </div>
        </div>
        <div class="swiper-slide profitable__slide">
          <img src="src/assets/images/profitable.png" alt="profitable" class="profitable__image">
          <div class="profitable__slide-block">
            <h3 class="profitable__slide-title">Дарим скидку 10%</h3>
            <span class="profitable__text">при первом посещении</span>
          </div>
        </div>
        <div class="swiper-slide profitable__slide">
          <img src="src/assets/images/profitable.png" alt="profitable" class="profitable__image">
          <div class="profitable__slide-block">
            <h3 class="profitable__slide-title">Дарим скидку 10%</h3>
            <span class="profitable__text">при первом посещении</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>