<section class="recording" id="recording">
  <div class="recording__container">
    <div class="recording__content">
      <h2 class="title-h2 recording__title">Запишитесь на Прием<br> <span class="title-orange">к лучшим специалистам</span> прямо сейчас</h2>
      <form action="" class="recording__form">
        <div class="recording__group">
          <label class="recording__label" for="communication">Выберите удобный способ связи</label>
          <select name="communication" id="communication">
            <option value="phone">Позвоните мне</option>
            <option value="tg">Телеграм</option>
            <option value="max">Мах</option>
          </select>
        </div>
        <div class="recording__group">
          <label class="recording__label" for="name">Ваше имя</label>
          <input class="recording__input" type="text" id="name" name="name" placeholder="Введите имя">
        </div>
        <div class="recording__group">
          <label class="recording__label" for="phone">Номер телефона</label>
          <input class="recording__input" id="phone" type="tel" inputmode="numeric" autocomplete="tel" />
        </div>
        <button type="submit" class="orange-button recording__button">Записаться на прием</button>
      </form>
    </div>
    <div class="recording__image">
      <img src="src/assets/images/persone.jpg" alt="" class="recording__img">
    </div>
  </div>
</section>