<section class="reviews" id="reviews">
  <div class="reviews__container">
    <div class="reviews__title-block">
      <h2 class="reviews__title title-h2">Отзывы</h2>
      <button class="reviews__button orange-button" data-popup="review-popup">Оставить отзыв</button>
      <div class="swiper-navigation">
        <div class="swiper-button-prev reviews__slider-button--prev"></div>
        <div class="swiper-button-next reviews__slider-button--next"></div>
      </div>
    </div>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">После лечения у Ивана Викторовича перестала бояться стоматологов😀делает все быстро,качественно. Всегда на связи. В экстренных ситуациях помогает сразу. Цены вполне адекватные для частной стоматологии. Уютно, чисто. Приветливый персонал. Лечим зубы всей семьей более
            10 лет. Иван Викторович ...</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">Лучший стоматолог в Туле! Ездим из Москвы уже более 10 лет. Ставил импланты, лечил зубы, делаем чистку и тд! Профессионал высшего уровня, живет своей работой! Всегда на связи и работает по самым приятным ценам!! Рекомендую лучшую стоматологию в Туле!</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">Отличный специалист, грамотный Доктор, золотые руки, очень приятный в общении, с ним не страшно))) и всё как надо! Отличное соотношение цены-качества! Много лет пользуемся его услугами-и всегда всё на отлично!!!</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">Лучшее место для моих зубиков!
            Иван Викторович -прекрасный врач, после него Вы точно не будете бояться стоматологов и лечил зубики ,и ставил импланты, я довольна, каждый год хожу на осмотры с удовольствием. Была на чистке, прекрасный врач сделала чистку, ни единого ...</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">После лечения у Ивана Викторовича перестала бояться стоматологов😀делает все быстро,качественно. Всегда на связи. В экстренных ситуациях помогает сразу. Цены вполне адекватные для частной стоматологии. Уютно, чисто. Приветливый персонал. Лечим зубы всей семьей более
            10 лет. Иван Викторович ...</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">Лучший стоматолог в Туле! Ездим из Москвы уже более 10 лет. Ставил импланты, лечил зубы, делаем чистку и тд! Профессионал высшего уровня, живет своей работой! Всегда на связи и работает по самым приятным ценам!! Рекомендую лучшую стоматологию в Туле!</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">Отличный специалист, грамотный Доктор, золотые руки, очень приятный в общении, с ним не страшно))) и всё как надо! Отличное соотношение цены-качества! Много лет пользуемся его услугами-и всегда всё на отлично!!!</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
        <div class="swiper-slide review">
          <div class="review__header">
            <img src="src/assets/images/avatar.png" alt="avatar" class="review__avatar">
            <div class="review__block">
              <div class="review__name">ФИО</div>
              <div class="review__rating">
                <span>Оценка: </span>
                <img src="src/assets/images/rating.png" alt="rating">
              </div>
            </div>
            <picture class="review__yandex">
              <!-- Основное (для мобильных, до 767px) -->
              <source media="(min-width: 768px)" srcset="src/assets/images/yandex-large.svg"> <!-- или yandex-alt.svg -->

              <!-- Фолбэк для <768px -->
              <img src="src/assets/images/yandex.svg" alt="Яндекс">
            </picture>
          </div>
          <p class="review__text">Лучшее место для моих зубиков!
            Иван Викторович -прекрасный врач, после него Вы точно не будете бояться стоматологов и лечил зубики ,и ставил импланты, я довольна, каждый год хожу на осмотры с удовольствием. Была на чистке, прекрасный врач сделала чистку, ни единого ...</p>
          <a href="#" class="review__link">Читать полностью</a>
        </div>
      </div>
    </div>
  </div>
</section>