<section class="services" id="services">
  <div class="services__container">
    <div class="services__grid-container">
      <h2 class="title-h2 services__title services__grid">Полный спектр<br> <span class="title-orange">стоматологических услуг</span></h2>
      <a href="#" class="services__card services-card services__grid">
        <h3 class="services-card__title">Гигиена</h3>
        <p class="services-card__lead">Гигиена полости рта и зубов методом AirFlow, Air Unit др.</p>
        <img src="src/assets/images/services/1.jpg" alt="" class="services-card__img" aria-hidden="true">
      </a>
      <a href="#" class="services__card services-card services__grid">
        <h3 class="services-card__title">Терапия</h3>
        <p class="services-card__lead">Лечение кариеса, пульпита, периодонтита и др.</p>
        <img src="src/assets/images/services/2.jpg" alt="" class="services-card__img" aria-hidden="true">
      </a>
      <a href="#" class="services__card services-card services__grid">
        <h3 class="services-card__title">Ортодонтия</h3>
        <p class="services-card__lead">Элайнеры, брекеты и трейнеры</p>
        <img src="src/assets/images/services/3.jpg" alt="" class="services-card__img" aria-hidden="true">
      </a>
      <a href="#" class="services__card services-card services__grid">
        <h3 class="services-card__title">Имплантация</h3>
        <p class="services-card__lead">Имплантация зубов<br> методами <b>«All-on-4»</b>, <b>«All-on-6»</b></p>
        <img src="src/assets/images/services/4.jpg" alt="" class="services-card__img" aria-hidden="true">
      </a>
    </div>
    <a href="all-services.html" class="services__button orange-button">Смотреть все услуги</a>
  </div>
</section>