@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2"), url("/fonts/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("/fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("/fonts/Montserrat-VariableFont_wght.woff") format("woff");
  font-style: normal;
  font-display: swap;
  /* Variable font: use font-weight and font-variation-settings as needed */
}